
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 36, 38);
}

.main{
    background-color: rgb(82, 77, 77);
    width: 500px;
    height: 600px;
    margin:auto ;
    margin-top: 100px;
    padding: 20px 20px;  
   
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(179, 179, 202);
    text-align: left;
    font-size: 30px;
   
}

label{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: block;
    position:relative;
    padding-top: 15px;
    padding-bottom: 5px;
    color: rgba(139, 139, 236, 0.753);
    margin-bottom: 15px;
    

}


 .main input[type]{
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    

 }

 formulario div {
    position: absolute;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid #f2796e;
  }

 
  .error{
      display: none;
      font-size: 0.8em;
      color: red;
  }


  .visible{
      display: block;
     
      
  }
 
  
  .ocultar{
      display: none;
      opacity: 0;
  }
 
    .iconos{
    position:absolute;
    padding: 10px;
    display: flex;
    margin-left:400px;
    opacity: 100; 
    
    }